@use 'variables';
@use 'mixins';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;600&family=Roboto:ital,wght@0,400;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: 0;
    list-style: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

input {
    color: variables.$black;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
    color: variables.$black;

}

body {
    background-color: variables.$beige;
}

header {
    height: 100px;
    width: 100%;
    background-color: variables.$light-brown;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo-container {
        margin: 10px;

        .logo{
            width: 90px;
        }
    }


}

.removeBtn{
    background-color: variables.$dark-brown;
    border: 0;
    color: variables.$white;
    padding: 8px;
    margin: 0px 0px 5px 0;

    :hover{
        background-color: variables.$light-brown;
    }
}



.desktop-links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: right;
    color: variables.$white;

        .nav-link-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px;
        }
}

footer {
    height: 400px;
    background-color: variables.$light-brown;
}


